<center><h1>Personalizados</h1></center>
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8" id="apresentacao">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-3 col-sm-4">
					<%= image_tag 'personalizado1.jpg', :class =>'img-responsive' %>
				</div>
				<div class="col-md-8 col-sm-8"></div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-4 col-sm-4">
			<%= image_tag 'personalizado2.jpg', :class =>'super-imagem' %>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-4 col-sm-4">
			<%= image_tag 'personalizado3.jpg', :class =>'super-imagem' %>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>

<br>
<center><%= link_to 'Reservar!', new_reserva_path, class: "btn btn2" %></center>
<br>