<div class="container">
	<div class="col-md-7">
		<center><h1>Contato</h1></center>
		<p>Entre em contato conosco através dos seguintes telefones:</p>
		<p><a href="tel:03138711394">(31)3871-1394</a></p>
		<p>Você também pode entrar em contato nos enviando um e-mail em:</p>
		<p><a href="malito:contato@hotelpousadajuliano.com.br">contato@hotelpousadajuliano.com.br</a></p>

		<p>Se preferir, entre no CHAT e aguarde para que um de nossos atendentes lhe responda quando possível.<br>
			Só abrir a janela no rodapé desta mesma página e enviar sua mensagem e enviar sua mensagem.
		</p>
	</div>
	<div class="col-md-5"></div>
</div>


<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'g9VjNq1Xrj';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->
				