<center><h1>Quem somos</h1></center>
<div class="container">
  <div class="row" id="apresentacao">
    <div class="col-md-1"></div>
    <div class="col-md-7">
      Há 22 anos no mercado, nossas instalações contam com 42 leitos dentre solteiros e casais. Quartos individuais, duplos, triplos e personalizados da forma que melhor lhe atende.
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row" id="apresentacao">
    <div class="col-md-2"></div>
    <div class="col-md-7">
      O <b>Hotel Pousada Juliano</b>, está situado às margens da Rodovia BR-262 no município de Rio Casca, que é considerado pivô de acesso a diversas cidades vizinhas. Conta com sua localização estratégica a 40 minutos da cidade de Ponte Nova, 40 minutos de Matipó, 30 minutos de Raul Soares, 20 minutos de Santo Antônio do Grama, 20 minutos de Abre Campo e 15 minutos de São Pedro dos Ferros.      
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row" id="apresentacao">
    <div class="col-md-1"></div>
    <div class="col-md-7">
      Um hotel voltado para quem busca uma combinação entre conforto, praticidade e descanso. Tudo isso agregado um ambiente familiar e ótimos preços para você e para sua empresa. Além de um delicioso café-da-manhã, todas as nossas suítes são equipadas com TV a cabo, ventilador e internet wireless.
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<br>
<center><%= link_to 'Reservar!', new_reserva_path, class: "btn btn2" %></center>
<br>