<center><h1>Serviços</h1></center>

<div class="container" id="servicos">
	<div class="col-md-2"></div>
	<div class="col-md-8">
	  <i class="fa fa-wifi imgr"></i>
	  <p>Sinal de Wi-fi em todos os quartos com um excelente sinal e velocidade de internet. </p>
	  <p>Excelente para aqueles que estão a trabalho ou que desejam descansar e acessar as redes sociais em suas plataformas.</p>
	  <br>

	  <i class="fa fa-bed imgl"></i>
	  <p>Quartos personalizados na vontade que o hóspede deseja, trazendo condições especiais além da adequação a todas faixas etárias .</p>
	  	<br>

	   <i class="fa fa-shower imgr"></i>
	  <p>Todos os quartos dispõe de chuveiros, possibilitando um banho quente! Perfeito para quem chega de viagem e deseja descansar.</p>
	  <br>
	 	<i class="fa fa-car imgl"></i>
	  <p>Temos também um estacionamento próprio com faço acesso à rodovia e possibilidade de parada de diversos tipos de veículos.</p>
	  <br>
	  <i class="fa fa-coffee imgr"></i>
	  <p>Temos um maravilhoso café da manhã com uma grande variedade de alimentos como frutas, bebidas, biscoitos e pães.</p>

	  <br>
	  <i class="fa fa-road imgl"></i>
	  <p>Fácil acesso à rodovia e proximidade do posto de combustível, proporcionando uma tranquilidade na viagem do hóspede.</p>

  </div>
  <div class="col-md-2"></div>
</div>

<br>
<center><%= link_to 'Reservar!', new_reserva_path, class: "btn btn2" %></center>
<br>