<div class="row posicao_mapa">
	<div class="container">
		<center><h1>Encontre-nos</h1></center>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119800.57545267945!2d-42.71128773789891!3d-20.226960211656632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa4d1cf83b3261b%3A0x1f00fc73b7040bbe!2sHotel+Pousada+Juliano!5e0!3m2!1spt-BR!2sbr!4v1532969985695" class="mapa" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
