<div class="bgded">
  <div id="pageintro" class="hoc clear"> 
    <article>
      <h3 class="heading">Faça a sua reserva</h3>
      <p>Agende aqui a sua estadia.</p>
      <footer><%= link_to 'Clique aqui!', new_reserva_path, class: "btn btn2" %></footer>
    </article>
  </div>
</div>	

<%= render partial: "home/opcoes" %>
<%= render partial: "home/fotos" %>
<%= render partial: "home/mapa" %>